@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*
 {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans';
}
body
{
   
    min-height: 50vh;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../IMAGES/FONDO.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../IMAGES/FONDO.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}
section
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    max-width: 2000px;
   margin-top: -1%;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover
{
    background-color: #e4b527;
    border-radius: 20%;
}



.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30 px 0;
}

.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder
{
    color: #fff;
}

.input-box i
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot
{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input
{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a
{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover
{
    text-decoration: underline;
}

.wrapper .btn
{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10%;
}
.wrapper .btn:hover
{
    background: #e4b527;
}

.wrapper .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin: 50px 0 40px;
}

.register-link p a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover
{
    text-decoration: underline;
}